
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Discount Buzz System BD">
    <meta name="keywords" content="Discount, Offer">
    <title>@ViewBag.Title</title>
    <!-- Favicons-->
    <link rel="icon" href="~/Content/ImageSys/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/Content/ImageSys/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themeCSS/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/themeCSS/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/themeCSS/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="~/Content/themeCSS/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/themeCSS/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet">

</head>
<body class="teal darken-1">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <div class="col s12 m12 l12">
        @RenderBody()
    </div>
    <!-- START FOOTER -->
    <footer class="page-footer" style="padding-left: 10%;">
        <div class="footer-copyright">
            <div class="container">
                <span>Copyright © @DateTime.Now.Year All rights reserved.</span>
                <span class="right"> Design and Developed by XPaiLabs</span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- ================================================
      Scripts
      ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>


    <!--materialize js-->
    <script type="text/javascript" src="~/Scripts/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="~/Scripts/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="~/Scripts/plugin/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="~/Scripts/plugins.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom.js"></script>
</body>
</html>