@model OfferWebSystem.Models.UserMenuModel

<ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="user-details cyan darken-2">
        <div class="row">
            <div class="col col s4 m4 l4">
                <img src="~/Content/ImageSys/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
            </div>
            <div class="col col s8 m8 l8">
                <ul id="profile-dropdown" class="dropdown-content">
                    <li>
                        <a href="@Url.Action("UserProfile","User")"><i class="mdi-action-face-unlock"></i> Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                    </li>
                    <li>
                        <a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                    </li>
                </ul>
                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">@Model.UserDetail.UserId<i class="mdi-navigation-arrow-drop-down right"></i></a>
                <p class="user-roal">@Model.UserDetail.SysEnum.EnumName</p>
            </div>
        </div>
    </li>
    @*FOREACH FOR USERASSIGNEDMENU*@
    <li class="bold">
        <a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
    </li>
    <li class="bold">
        <a href="@Url.Action("Index","Post")" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Post </a>
    </li>
</ul>
<a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu"></i></a>

